{% extends 'dogs/base.html' %}
{% block content %}

<h1>Accessory List</h1>
<a href="{% url 'accessories_create' %}" class="btn">Add Accessory</a>

{% for accessory in accessory_list %}
  <a href="{% url 'accessories_detail' accessory.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ accessory.name }}</span>
            <p>Type: {{ accessory.type }}</p>
            <p>Color: {{ accessory.color }}</p>
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}
